#nav{
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
#nav-items{
    
      text-decoration: none;
      font-size: larger;
}
#nav1{
    border-right: 2px solid black;
    border-top: 2px solid black;
}
#nav2{
    border-right: 2px solid black;
    border-top: 2px solid black;
}
#nav3{
    border-right: 2px solid black;
    border-top: 2px solid black;
}
#nav4{
    border-top: 2px solid black;
    border-right: 2px solid black;
}
a{
    text-decoration: none;
    color: #3a3e43;
    
}
#jumbo-text{
    /* text-decoration: underline; */
    font-weight: bolder ;
    
}

.blog-box{
    border: 2px solid black;
}

.blog-title{
    border: 2px solid black;
}